{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ItemMessage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('item_show' , {'slug': app.request.get('slug'),'id': app.request.get('item_id')}) }}">
            Back to item
        </a>
    </li>
    <li>
        <a href="{{ path('item_message_edit', { 'id': entity.id,'slug': app.request.get('slug'),'item_id': app.request.get('item_id') }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
